* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    // margin: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: #333;
}


.colors {
    height: 30vh;
    background-image: linear-gradient(80deg, tomato, tomato,gold,royalblue,lime,tomato, tomato,gold,royalblue,lime);
    background-size: 800%;

    animation: colors 5s linear infinite;
}

@keyframes colors {
    from {
        background-position: 0,0;
    }
    to {
        background-position: 100% 0;
    }
}


.wrapper {
    margin: 50px;
    text-align: center;
    line-height: 10px;
}
.square {
    display: inline-block;
    // display: none;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 2px;
    animation: fade 1.4s infinite;
}
.square:nth-child(2n) {
    animation: fade 1s infinite;
}
.square:nth-child(3n) {
    animation: fade .5s infinite;
}
@keyframes fade {
    10% {
        opacity: 1;
        background-color: rgb(158, 1, 179);
    }
    50% {
        opacity: 0;
        background-color: royalblue;
    }
    90% {
        opacity: 1;
        background-color: rgb(158, 1, 179);
    }
}




// div {
//     height: 300px;
//     width: 300px;

// }
// .squaree {
//     background-color: tomato;
//     animation: square 4s forwards;
// }
// .circlee {
//     background-color: lime;
//     border-radius: 50%;

//     animation: circle 2s 4s infinite;
// }
// @keyframes squaree {
//     0% {
//     height: 300px;
//     width: 300px;
//     background-color: tomato;
//     }
//     50% {
//         width: 600px;
//         height: 300px;
//     }
//     100% {
//         width: 300px;
//         height: 600px;
//         background-color: gold;
//     }
// }
// @keyframes circlee {
//     from {
//         background-color: lime;
//     }
//     to {
//         background-color: royalblue;
//     }
// }






